# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Testing
coverage
*.spec.ts
*.test.ts
__tests__

# Development
.env*.local
.git
.gitignore
.vscode
.idea

# Documentation
README.md
docs

# Logs
logs
*.log

# Misc
.DS_Store
*.pem
